// * {
//   overflow-y: hidden;
// }

#home-nav {
  background-color: $main-red;
  height: 15vh;
  padding: $nav-pd;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div {
    h3 {
      color: $main-white;
      font-size: $head-3;
      font-weight: 500;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: start;
      justify-content: center;
      gap: 15px;

      .icon {
        align-self: center;
      }
    }
  }

  section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .play-btn-container {
      ul {
        li {
          .anchor {
            color: $main-white;
            font-size: 1.2rem;
            text-decoration: none;
            transition: 0.2s ease;

            &:hover {
              text-decoration: underline;
              text-underline-offset: 3px;
            }
          }
        }
      }
    }

    .auth-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;

      .login {
        background-color: $main-blue;
        padding: $btn-pd;
        text-decoration: none;
        color: $main-white;
        font-size: $normal;
        border-radius: $border-rd;
        transition: 0.2s ease;

        &:hover {
          background-color: $main-blue-hue;
        }
      }
      .signup {
        background-color: $main-blue;
        padding: $btn-pd;
        text-decoration: none;
        color: $main-white;
        font-size: 1rem;
        border-radius: $border-rd;
        transition: 0.2s ease;

        &:hover {
          background-color: $main-blue-hue;
        }
      }
    }
  }
}

#home {
  background-image: url("../../../public/logosage\ \(6\).jpg");
  background-size: cover;
  background-position: center;
  height: calc(100vh - 15vh);
  width: 100%;
}

@media (max-width: 768px) {
  #home-nav {
    padding: 0.7rem 1.2rem;
    position: relative;
    height: 50vh;
    align-items: center;
    flex-direction: start;
    flex-direction: column;
  }

  #home-nav section {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 25px 40px;
    background-color: transparent;
  }

  #home-nav section .auth-container {
    flex-direction: column;
    width: 100%;
  }

  .auth-container .login,
  .auth-container .signup {
    width: 100%;
    text-align: center;
  }
}
