.header {
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  .main-topic {
    align-self: end;
    margin: 0;
    font-size: 3rem;
  }
  .scores {
    .scoresBtn {
      border: none;
      background-color: $main-blue;
      color: $off-white;
      cursor: pointer;
      font-family: $quicksand;
      margin-right: 1rem;
      padding: $btn-pd;
    }
  }
}
.questions {
  background-color: $off-white;
  border-left: 5px solid $main-red;
  width: 80%;
  margin: 1.5rem auto 0 auto;
  padding: 1.5rem 2.5rem;

  .lifeline-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 18px;
    p {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .lifeline {
        color: $main-green;
        cursor: pointer;

        &:hover {
          color: darken($color: $main-green, $amount: 10%);
        }
      }
    }
  }

  .timer-option {
    border-top: 0.5px solid #aaa;
    padding-top: 1.5rem;
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
      span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
      }
    }
  }

  h5 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    text-align: center;
  }

  .options-container {
    margin-top: 1rem;
    display: inline-block;
    width: 50%;

    .option {
      width: 80%;
      margin: auto;
      cursor: pointer;
      background-color: $main-red;
      border-radius: 30px;
      color: $main-white;
      padding: $btn-pd;
      transition: 0.3s linear all;
      text-align: center;
      margin-bottom: 1.5rem;

      &:hover {
        background-color: darken($color: $main-red, $amount: 10%);
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1rem auto;
    cursor: pointer;
    padding: 1.5rem;
    width: 80%;
    margin-top: 2rem;

    button {
      border: none;
      color: $off-white;
      cursor: pointer;
      font-family: $quicksand;
      margin-right: 1rem;
      padding: $btn-pd;
    }

    .prev {
      background-color: $main-green;
      &:hover {
        background-color: darken($color: $main-green, $amount: 10%);
      }
    }
    .next {
      background-color: $main-blue;
      &:hover {
        background-color: darken($color: $main-blue, $amount: 10%);
      }
    }
    .quit {
      background-color: $main-red;
      &:hover {
        background-color: darken($color: $main-red, $amount: 10%);
      }
    }
  }
}

.no-stats-container {
  h1 {
    font-weight: 300;
    font-size: 2.5rem;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      border: none;
      background-color: $main-blue;
      cursor: pointer;
      font-family: $quicksand;
      margin-right: 1rem;
      padding: $btn-pd;

      a {
        color: $main-white;
      }
    }
  }
}

.container {
  width: 100%;
  padding: 1rem 1rem;
  h1 {
    color: $main-blue;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 300;
  }
  h2 {
    margin-top: 0;
  }
  h4 {
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
  }

  .stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;

    .stat-right {
      color: $main-blue;
    }
  }

  section {
    margin: auto;
    margin-top: 3rem;
    width: 100%;

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        border: none;
        background-color: $main-blue;
        cursor: pointer;
        font-family: $quicksand;
        margin-right: 1rem;
        padding: $btn-pd;

        a {
          color: $main-white;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;

    h1 {
      text-align: center;
      margin: 0;
      padding: 0;
    }

    .scores {
      width: 100%;
      margin-bottom: 2rem;
      .scoresBtn {
        width: 100%;
      }
    }
  }

  .questions {
    padding: $nav-pd;
    margin: 0;
    width: 100%;

    h5 {
      font-size: 1.2rem;
    }

    .options-container {
      margin-top: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      .option {
        width: 100%;
        margin-top: 0.05rem;
      }
    }

    .button-container {
      width: 100%;
      justify-content: space-between;
    }
  }

  .container {
    h2 {
      font-size: 2.5rem;
      line-height: 1.5;
      margin: 0;
      text-align: center;
      margin-bottom: 12px;
    }
    section {
      ul {
        li {
          padding: 10px 15px;
        }
      }
    }
  }
}
