//Colors
$main-blue: #011f5b;
$main-red: #9b0000;
$main-blue-hue: #011f5ba9;
$main-white: #f3f3f3;

//padding
$nav-pd: 1.5rem 2.5rem;
$btn-pd: 10px 25px;

//fz
$normal: 1rem;
$head-3: 2rem;
$head-4: 1.2rem;

// br
$border-rd: 4px;

//ff
$quicksand: "Quicksand", sans-serif;

//breakpoints
$lg-brp: 1024px;
$md-brp: 768px;
$sm-brp: 641px;
$xs-brp: 480px;
